

<div class="event-details">
	<div class="border">
    <img src="<%= event.photo %>">
        <h1 class="event-name" style="font-size: 35px; ">
       		<%= event.name %></h1>
            <%= event.name %><br>
            <%= event.address %><br>
            <%= event.phone %><br>
            <%= event.actualcost %><br>
            <%= event.link %><br>
	</div>
<div class="MoreEvents">
 <%= link_to "More Events", events_path %>
</div>
</div>

