

<div class="event-details">

    <img src="<%= event.photo %>">
        <h1 class="event-name" style="font-size: 35px; ">
       		<%= event.name %></h1>
            <%= event.name %><br>
            <%= event.address %><br>
            <%= event.phone %><br>
            <%= event.cost %><br>
            <%= event.link %><br>


</div>

