

<div class="event-details">
	<a href= "events/show"><div class="border">
    <img src="<%= event.photo %>">
        <h1 class="event-name" style="font-size: 35px;">
       		<%= event.name %></h1>
            <div style="font-color: black;">
            <%= event.name %><br>
            <%= event.address %><br>
            <%= event.phone %><br>
            <%= event.cost %><br>
            <%= event.link %><br>
            </div>
	</div>

</div>

