

<div class="event-details">
    <h2 style="padding: 0px; margin: 0px;">You're going to...</h2>
        <h1 class="event-name"><%= event.name %></h1>
            <%= event.name %><br>
            <%= event.address %><br>
            <%= event.phone %><br>
            <%= event.cost %><br>
</div>

