<h2>Welcome to WhutNow!</h2>

<h2>Select Object</h2>
 <%= @select.group_size %>
 <%= @select.interest %>
 <%= @select.location %>
 <%= @select.cost %>

 <h2>Events</h2>
<% @events.each do |event| %>

 <%= event.name %><br>
 <%= event.address %><br>
 <%= event.phone %><br>
 <%= event.category %><br>
 <%= event.size %><br>
 <%= event.cost %><br>
 <p><%= event.link %></p><br>

 <% end %>


