<h1 style="color:white; font-family:arial; text-align:center; font-size:40px; padding-top: 30px;">About</h1>

<div class="appdesc">
	Have you ever been bored with a spouse or group of friends not knowing what to do? then whatnow could be just for you.  It will help you decide your choice of where to go. Whatnow provides the user with an event that is based to their preferences at the time. 

	Whatnow was designed with the users experience in mind. It was made to make it as easy as possible for someone to make up their minds about where they were going to go or just to give them a suggestion. 
</div>

<div class="stack">

	<div class="rails">
		<%= image_tag("rubyrails.jpg", class: "rpic") %>
		<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">Ruby on Rails</p>
		Ruby on Rails was used on this project because of its back end framework capabilities. Although we could have done much of what was done with Rails, we used Javascript for it's practicality and ease.
	</div>
	<div class="rails">
		<%= image_tag("js.png", class: "rpic") %>
		<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">Javascript</p>
		The star of the show. Javascript was used for the transistion between parts of the forms, the button highlighting and of course, the ajax. A few little nik naks were used with Javascript but overall, front end functionality, Javascript
	</div>
	<div class="rails">
		<%= image_tag("htmlcss.png", class: "rpic") %>
		<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">HTML/CSS3</p>
		Styles,styles and more styles. CCS3 made our page what it is. From the sleak grey background to the frames that hold the events. Not any HTML element or tag was left untouched by CSS.
	</div>
</div>

<div class="creators">
	<h1 style="color:white; font-family:arial; text-align:center; font-size:40px; padding-top: 30px;">The Team</h1>
	<div class="makers">
	<%= image_tag("patrick.jpg", class: "tpic") %>
	<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial; ">Patrick Zanowski</p>
	<p style="color:grey">Cofounder</p>
	<p style= "color:darkgrey;">Web Developer, Entrepreneur, Computer Scientist, and Graphic Designer focused on making the web amazing. Proficient in Ruby on Rails, JavaScript, HTML5, CSS, Ruby, Git, AJAX, and JSON.</p>
		
	</div>
	<div class="makers"  id="middle">
	<%= image_tag("jon.jpg", class: "tpic") %>
	<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">Jon Greenspan</p>
	<p style="color:grey">Cofounder</p>
	<p style= "color:darkgrey;">Resourceful web developer/designer with a passion for everything "technically creative" and believe in building great things from the ground up from MVC to CSS! </p>
		
	</div>
	<div class="makers">
	<%= image_tag("mike.jpg", class: "tpic") %>
	<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">Micheal Cooper</p>
	<p style="color:grey">Cofounder</p>
	<p style= "color:darkgrey;">A front-end developer passionate about creating web applications with an emphasis on thoughtful designs. Worked as a creative design consultant building graphic designs and communications for businesses and nonprofit organizations.</p>
		
	</div>
	<div class="makers">
	<%= image_tag("jeffho.jpg", class: "tpic") %>
	<p style="text-align: center; font-size: 20px; font-weight: bold; font-family: arial;">Jeff Ho</p>
	<p style="color:grey">Cofounder</p>
	<p style= "color:darkgrey;">Toronto-based Front-end Developer specializing in designing and building beautifully functional websites and digital templates. Specialties: HTML5, CSS/Sass, jQuery/Javascript, UX Development and a keen eye for design and layout.</p>
		
	</div>
</div>