<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://code.jquery.com/jquery-2.0.0.js"></script>
</head>
<body>
	




<h1>WELCOME TO WHUTNOW!</h1>

<%= form_for @select do |f| %>

	<%= f.label :group_size %>
	<%= f.select(:group_size, @group.map { |value| [ value, value ] }) %><br>

    <%= f.label :interest %>
    <%= f.select(:interest, @select_interest.map { |value| [value, value] }) %><br>

    <%= f.label :location %>
    <%= f.text_field :location %><br>

     <%= f.label :sessiontime %>
	 <%= f.datetime_select :sessiontime, start_year: 2015, discard_minute: true, discard_month: true, discard_year: true, discard_day: true, ampm: true %><br>

	 <%= f.label :cost %>
	 <%= f.select(:cost, @cost.map{ |value| [value, value] }) %><br>
	
	 <%= f.submit id: "find" %>

<% end %>

</body>
</html>