<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://code.jquery.com/jquery-2.0.0.js"></script>

	<script>
		$(document).ready(function(){
		
			$('.intro').fadeIn(1500);
			$('.intro').fadeOut(1500);
         
		   $('.btn-primary').mouseenter(function(){

		   	$(this).css({
		   		'background-color': 'grey',
		   	})

		    .mouseleave(function() {


            if ($(this).find("input[type='radio']:checked").val() === undefined)
    			$(this).css({
		   			'background-color': '#333333'
		   		});
  			});
			});

		   //$('#first').on('click', function() {
   			//	console.log($(this).val());
   			//	console.log($(this)); 
			//});

	      $('.btn-primary').on('click', function(){

            $('.btn-primary').css({
            	'background-color': '#333333'
            })
        
        
	      	$(this).css({
	      		'background-color': 'white'
	       	});
	      
		  });

		});

	</script>

</head>
<body>
	




<h1 class="intro" style="display: none;">Welcome...</h1>

<%= form_for @select do |f| %>

	<div class = "btn-group" data-toggle = "buttons-radio">
	<%#= f.label :group_size %><!-- :&nbsp;	 -->
	       
			<%#= radio_button_tag(:group_size, "Solo", :id=>"first", :style=>"display: none;") %>
			<label for="first" class="btn btn-primary"><%= f.radio_button(:group_size, "Solo", :id=>"first", :style=>"display: none;") %>SOLO</label>
 			
 			<label for="second" class="btn btn-primary">
 				<%= f.radio_button(:group_size, "Double", :id=>"second", :style=>"display: none;") %>COUPLE</label>
			
			<label for="third" class="btn btn-primary">
			<%= f.radio_button(:group_size, "Group", :id=>"third", :style=>"display: none;") %>GROUP</label>

		<br>
 	</div>

    <%= f.label :interest %>
    	<%= f.select(:interest, @select_interest.map { |value| [value, value] }) %><br>

    <%= f.label :location %>
    	<%= f.text_field :location %><br>

     <%= f.label :sessiontime %>
	 	<%= f.datetime_select :sessiontime, start_year: 2015, discard_minute: true, discard_month: true, discard_year: true, discard_day: true, ampm: true %><br>

	 <%= f.label :cost %>:&nbsp;
		<%= label_tag(:cost, "free") %>
			<%= f.radio_button(:cost, "free") %>
		<%= label_tag(:cost, "$") %>
			<%= f.radio_button(:cost, "$") %>
		<%= label_tag(:cost, "$$") %>
			<%= f.radio_button(:cost, "$$") %>
		<%= label_tag(:cost, "$$$") %>
			<%= f.radio_button(:cost, "$$$") %><br>
	
	 <%= f.submit id: "find" %>

<% end %>

</body>
</html>