<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="http://code.jquery.com/jquery-2.0.0.js"></script>        
 	


</head>
<body>
	




<h1 class="intro" style="display: none;">Welcome...</h1>

<%= form_for @select do |f| %>

	<div class = "btn-group" data-toggle = "buttons-radio" style="display:none;">
			
			<p class="choose-size" style = "text-align:center; padding-bottom: 100px;"> Choose your size</p>
			<label for="first" class="btn btn-primary"><%= f.radio_button(:group_size, "Solo", :id=>"first", :style=>"display: none;") %>SOLO</label>
 			
 			<label for="second" class="btn btn-primary">
 				<%= f.radio_button(:group_size, "Double", :id=>"second", :style=>"display: none;") %>DUO</label>
			
			<label for="third" class="btn btn-primary">
			<%= f.radio_button(:group_size, "Group", :id=>"third", :style=>"display: none;") %>GROUP</label>

		<br>
 	</div>
    
    <div class= "interest-div">
 		
 		<p class="choose-size" style = "text-align:center; padding-bottom: 100px;"> Choose an Interest</p>
		
		<label for="sports" class="interest-btn">
			<%= f.radio_button(:interest, "Sports", :id=>"sports", :style=>"display: none;") %>SPORTS</label>

		<label for="art" class="interest-btn">
			<%= f.radio_button(:interest, "Art", :id=>"art", :style=>"display: none;") %>ART</label>

		<label for="film" class="interest-btn">
			<%= f.radio_button(:interest, "Film", :id=>"film", :style=>"display: none;") %>FILM</label>

		<label for="food" class="interest-btn">
			<%= f.radio_button(:interest, "Food", :id=>"food", :style=>"display: none;") %>FOOD</label>

	</div>


	<div class="cost-div">
	
		<p class="choose-size" style = "text-align:center; padding-bottom: 100px;"> Choose a price range</p>
		<label for="free" class="cost-btn">
			<%= f.radio_button(:cost, "Free", :id=>"free", :style=>"display: none;") %>FREE</label>

		<label for="$" class="cost-btn">
			<%= f.radio_button(:cost, "$", :id=>"$", :style=>"display: none;") %>$</label>

		<label for="$$" class="cost-btn">
			<%= f.radio_button(:cost, "$$", :id=>"$$", :style=>"display: none;") %>$$</label>

		<label for="$$$" class="cost-btn">
			<%= f.radio_button(:cost, "$$$", :id=>"$$$", :style=>"display: none;") %>$$$</label>
	</div>

	
	<div class="location-div">
	<p class="choose-location">Enter your location</p>
    	<%= f.text_field :location, :autocomplete=>"off", :placeholder=>"Enter your location here..." %><br>
    	<label for="user" class="location-btn">

    	<input type="checkbox" class="u_location" id="user" style="display:none;">
    	
 			<%= f.hidden_field :latitude %>
   			<%= f.hidden_field :longitude %>
   			Use your location
   		</label><br>
    	<p class='location-error'>Please enter location</p>

	</div>	


	<div class="no-match">
		<p>Sorry, no events match your preference.</p>
	</div>

<% end %>

<div id="event">

</div>



</body>
</html>