<h1>Welcome to WhutNow!</h2>

<h2>Your Choices</h2>
 <%= @select.group_size %><br>
 <%= @select.interest %><br>
 <%= @select.location %><br>
 <%= @select.cost %><br>

 <h2>Your Event</h2>

 <%= @the_one.name %><br>
 <%= @the_one.address %><br>
 <%= @the_one.phone %><br>
 <%= @the_one.category %><br>
 <%= @the_one.grpsize %><br>
 <%= @the_one.cost %><br>
 <p><%= @the_one.link %></p><br>

 <h2> Meetup Events</h2>
 <%= @events.inspect %>
