<h1>Welcome to WhutNow!</h2>

<div class="destination">
 <h2>Your Event</h2>

 <%= @the_one.name %><br>
 <%= @the_one.address %><br>
 <%= @the_one.phone %><br>
 <%= @the_one.category %><br>
 <%= @the_one.grpsize %><br>
 <%= @the_one.cost %><br>
 <p><%= @the_one.link %></p><br>

 <h2> Meetup Events</h2>
 <%= @events.inspect %>

</div>
